.s-skin-container {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5) 43px, rgba(255, 255, 255, 0.4) 92px, rgba(255, 255, 255, 0.3) 146px, rgba(255, 255, 255, 0.2) 210px, rgba(255, 255, 255, 0.1) 295px, rgba(255, 255, 255, 0) 500px), url(https://unsplash.it/1920/1080/?random)!important;
    height: 100%!important;
    background-position: center!important;
    /*background-size: cover;*/
    
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#s_lg_img,
#bottom_container,
#content_right,
.xpath-log,
.rrecom-btn-click,
#s_btn_wr {
    display: none !important;
}
#content_left > div:not([class*=result]) {
    display: none !important;
    position: absolute;
    left: -8888px;
}
#s_tab b {
    color: orange;
}